<li class="touchcarousel-item">
  <a class="item-block" href="#">
    <%= image_tag(influencer.pic, :alt => "user_profile picture") %>
    <h4><%= influencer.handle %></h4>
    <p><%= influencer.description %></p>
  </a>
</li>
