<div class="media">
  <a class="pull-left">
    <%= image_tag(tweet.user_pic_url, :class => "media-object", :alt => "user_profile picture") %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= tweet.user %> <small><%= tweet.created_time_in_words %> </small> </h4>
    <%= tweet.tx %>
  </div>
</div>
