<li class="touchcarousel-item">
  <%= link_to controller: 'tweets', action: 'index', user: user.name, remote: true do %>
    <%= image_tag(user.user_pic_url, :alt => "user_profile picture", width: 150, height: 150) %>
    <h4><%= user.name %></h4>
    <p><%= user.description %></p>
  <% end %>
</li>
