<div class="row">
  <div class="page-header">
    <h1>Your Local Leaders <small>and some not so local ones too...</small></h1>
  </div>
</div>
<div class="row">
  <div class="DocumentList">
    <ul class="list-inline">
      <li class="DocumentItem col-md-3">
        <span>Test Data1</span>
      </li>
      <li class="DocumentItem col-md-3">
        <span>Test Data1</span>
      </li>
      <li class="DocumentItem col-md-3">
        <span>Test Data1</span>
      </li>
      <li class="DocumentItem col-md-3">
        <span>Test Data1</span>
      </li>
      <li class="DocumentItem col-md-3">
        <span>Test Data1</span>
      </li>
      <li class="DocumentItem">
        <span>Test Data1</span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6 well col-md-offset-3">
    Post your tweet!
  </div>
</div>
<div class="row">
  <div class="col-md-4 well col-md-offset-4">
    Tweet list of that politician
  </div>
</div>

<div class="row">
  Should we have something at the bottom? Like contact info?<br>
</div>
