<div class="row">
  <div class="page-header">
    <h1>Your Local Leaders <small>and some not so local ones too...</small></h1>
  </div>
</div>
<div class="row">
  <div id="carousel-image-and-text" class="touchcarousel grey-blue">
    <ul class="touchcarousel-container">
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-6 well col-md-offset-3">
    Post your tweet!
    <%= form_tag ({action: "post_tweet", method: :post, class: 'input-group', remote: true}) do %>
    <div class="input-group">
      <!--<span class="input-group-addon" id="basic-addon1">@</span>-->
    <!--<#% form_tag ({action: '/blah'}, {remote: true, method: :post, class: 'input-group'}) do %>-->
      <!--<form action="post_tweet" method="post" class="input-group">-->
      <!--<#%= form_tag do %>-->
          <input name="tweet_to_post" type="text" class="form-control" placeholder="@Governator ... you are so great" aria-describedby="basic-addon1">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Tweet It!</button>
          </span>
      <!--<#% end %>-->
    </div>
    <% end %>
    <!--<div>-->
      <!--<button type="button" class="btn btn-default">Left</button>-->
    <!--</div>-->
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--Tweet list of that politician-->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= current_user.name%>'s Tweets</h3>
      </div>
      <div class="panel-body">
        <%= render partial: "/tweets/tweet", collection: @tweets %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  Should we have something at the bottom? Like contact info?<br>
</div>
