<div class="row">
  <div class="page-header">
    <h1>Your Local Leaders <small>and some not so local ones too...</small></h1>
  </div>
</div>
<div class="row">
  <div id="carousel-image-and-text" class="touchcarousel grey-blue">
    <ul class="touchcarousel-container">
      <!--<#%= render partial: "/users/user", collection: @users %>-->
      <%= render partial: "/influencers/influencer", collection: @influencers %>

      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
      <li class="touchcarousel-item">
        <a class="item-block" href="#">
          <img src="demo-images/170x230/1.jpg" width="170" height="230" />
          <h4>Lorem Ipsum</h4>
          <p>Dolor sit amet</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-6 well col-md-offset-3">
    Post your tweet!
    <%= form_tag ({action: "post_tweet", method: :post, class: 'input-group', remote: true}) do %>
    <div class="input-group">
      <input name="tweet_to_post" type="text" class="form-control" placeholder="@Governator ... you are so great" aria-describedby="basic-addon1">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Tweet It!</button>
      </span>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--Tweet list of that politician-->
    <%= render partial: 'tweets/tweet_panel' %>
  </div>
</div>

<div class="row">
  Should we have something at the bottom? Like contact info?<br>
</div>
