<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Tweet it to the Man!</h1>
  <p>This is a place for you to let the leaders of your country and area know how you feel. Tell wall street what's happening on your main street.</p>
  <p><%= link_to "Sign in with Twitter", "/auth/twitter", class: 'btn btn-primary btn-lg' %></p>
</div>
