<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Tweet it to the Man!</h1>
  <p>We'll find the leaders and influencers in your area for you.<br>
    We leave it to you to let them know about the real issues you face on main street.</p>
  <p><%= link_to "Sign in with Twitter", "/auth/twitter", class: 'btn btn-primary btn-lg' %></p>
</div>
